body, html {
  width: auto;
}

h4, button, form, ul, p {
  text-align: center;
}

h4, p {
  font-size: 20px;
  font-family: arial;
  color: #28353d;
}

ul {
  font-size: 30px;
  font-family: arial;
  color: #28353d;
}

.button{
  width: 100px;
  background-color:#8ab4ce;
  font-family: arial;
  font-size: 20px;
  padding-left: 5px, 10px, 5px, 10px;
  color: #28353d;
}

.button:hover{
  background-color:#7dbde8;
}

input {
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 25px;
}

#header {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

#subheader {
  width: 65%; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#game {
  padding-left: 0;
}

.class {
  text-align: center;
}

#border {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-bottom: 35px;
  background: rgba(255, 255, 255, 0.7);
  border-style: double;
}


#background {
  background-image: url("../game_of_thrones_hangman/Graphics/GoT-background2.jpg");
  height: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: stretch;
}

/* MODAL */

.hidden {
  display: none
}

.modaltext {
  text-align: center;
  font-family: arial;
  color: white;
  font-size: 40px;
}

/* MODAL IF YOU LOSE */

.loseModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
     /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    margin: auto;
}

.lose-modal-body {
  width: 1000px;
  height: 600px;
  text-align: center; 
  margin: auto;
  display: block;
  margin-top: auto;
  padding-top: 90px;
}

.lose-inside-modal {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: black;
  border: solid medium white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    padding-right: 14px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* MODAL IF YOU WIN */


.winModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
     /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    margin: auto;
}
    
.win-modal-body {
  width: 1000px;
  height: 600px;
  text-align: center; 
  margin: auto;
  display: block;
  margin-top: auto;
  padding-top: 60px;
  padding-bottom: 20px;
}

.win-inside-modal {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: black;
  border: solid medium white;
}

.close {
    color: #aaa;
    float:right;
    font-size: 35px;
    padding-right: 14px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}




