body, html {
  height: 100%;
}

h4, button, form, ul, p {
  text-align: center;
}

h4, p {
  font-size: 20px;
  font-family: arial;
  color: #28353d;
}

ul {
  font-size: 30px;
  font-family: arial;
  color: #28353d;
}

.button{
  width: 100px;
  background-color:#8ab4ce;
  font-family: arial;
  font-size: 20px;
  padding-left: 5px, 10px, 5px, 10px;
  color: #28353d;
}

.button:hover{
  background-color:#7dbde8;
}

input {
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 25px;
}

#header {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

#subheader {
  width: 65%; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#game {
  padding-left: 0;
}

.class {
  text-align: center;
}

#border {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-bottom: 35px;
  background: rgba(255, 255, 255, 0.7);
  border-style: double;
}


#background {
  background-image: url("../WWW/Pics/GoT-background2.jpg");
  height: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MODAL BEGINS */

.loseModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    margin: auto;
}

/*
.winModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(15, 15, 15, 0.9);
  top: 0;
  left: 0;
  margin: auto 0;
  padding: 0;
}
.modal-body, .gif, .modaltext {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
 /* 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(15, 15, 15, 0.9);
}
*/

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
  display: none
}
.hidden {
  display: none;
  opacity: 0;
}

.modaltext {
  text-align: center;
  font-family: arial;
  color: white;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

